ANTHROPIC_API_KEY=
AWS_ACCESS_KEY_ID="AKIATALBNBBRHHTPWVGY"
AWS_SECRET_ACCESS_KEY=
REGION="us-west-2"
BUCKET="simony"
GOOGLE_PROJECT_ID="inkylabs"
GOOGLE_LOCATION="us"
GOOGLE_PROCESSOR_ID="a37b62729487f2b4"
